<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./public/css/mainStyle.css">
        <link rel="stylesheet" type="text/css" href="./public/css/main.css">
        <link type="text/css" src="../js/main.js">
        <title>집순집돌</title>
    </head>
    <body>
        <header>
            <div class="headerBox"><a class="headerLink" href="/profile">내 페이지</a> | <a class="headerLink" href="Message.html">쪽지함</a> | <a class="headerLink" href="/logout">로그아웃</a></div>
        </header>
        <div class="container">  
            <nav>
                <img id="navLogo"  src="./public/img/logo.png" >
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>뒹굴뒹굴</p>
                <div class="subNav"><ul><li>유튜브</li><li>넷플릭스</li><li>왓챠</li><li>...더보기</li></ul></div></a>
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>끄적끄적</p>
                <div class="subNav"><ul><li>이야기보따리</li><li>내가그린그림</li><li>내가쓴손글씨</li><li>...더보기</li></ul></div></a>
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>으쌰으쌰</p>
                <div class="subNav"><ul><li>식단</li><li>운동</li><li>챌린지</li><li>...더보기</li></ul></div></a>
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>삐용삐용</p>
                <div class="subNav"><ul><li>모바일</li><li>PC</li><li>콘솔</li><li>...더보기</li></ul></div></a>
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>뚝딱뚝딱</p>
                </a>
                <a href="#"><img class="navCheck" src="./public/img/check.png"><p>도란도란</p>
                </a>
            </nav>
            <div class="content">
                <div id="eventBanner"></div>
                <div id="welcome"><p>어서오세요, <%= user.name %>님!</p></div>
                <div id="showMessage">
                    <div id="newMessage">
                        <p>새 쪽지</p><img src="./public/img/check.png">
                    </div>
                    <div id="schedule">
                        <div id="yesterday">
                            <p>어제의 일정</p><div class="scheduleBox"></div>
                        </div>
                        <div id="today">
                            <p>오늘의 일정</p><div class="scheduleBox"></div>
                        </div>
                        <div id="tomorrow">
                            <p>내일의 일정</p><div class="scheduleBox"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>