#entranceimg{
    width:100%;
    height:100%;
    position:relative;
}
#entranceimg img{
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;
}
#loginBox{
    position:absolute;
    left:35%;
    right:35%;
    top:55%;
    bottom: 15%;
    width:30%;
    height:30%;
}
#title{
    text-align: center;
    font-weight: bold;
    font-size:2.5em;
    width:100%;
    height:30%;
}
#loginBox form{
    position:relative;
    width:100%;
    height:70%;
}
form input,button{
    position:absolute;
    width:40%;
    height:20%;
}
form input:nth-child(1){
    top:4%;
    left:30%;
}
form input:nth-child(2){
    top:30%;
    left:30%;
}
form #login{
    top:56%;
    left:32%;
    width:10%;
}
form button#register{
    top:56%;
    left:44%;
    width:25%;
}
